<%- include('partials/header'); -%>
<h1>Slett</h1>
<h4>Bla til to-do tingen du vil slette</h4>
<h4>Klikk "delete"</h4> <br><br><br><br>


<h1>Oppdater</h1>
<h4>Bla til to-do tingen du vil endre</h4>
<h4>Klikk "edit"</h4>
<h4>Skriv inn den nye verdien</h4>
<h4>Klikk "Update"</h4><br><br><br><br>


<h1>Done</h1>
<h4>Bla til to-do tingen du er ferdig med</h4>
<h4>Klikk "done"</h4>
<h4>Fargen vil nå endres til grønn</h4> <br><br>
<h4>Klikk på "undo" for å endre den tilbake</h4>

<%- include('partials/footer'); -%>