<%- include('partials/header'); -%>
<div class="home">
<h1>The ultimate to-do list</h1> <br>
<h2>Get shit done today</h1><br>
  <p>Login to start using the app</p>
  </div>
<%- include('partials/footer'); -%>

