<%- include('partials/header'); -%>
<h1>Veileder</h1>
<h4>1.	Logg inn i terminalen som eksisterende bruker med sudo-rettigheter (eller root)</h4>

<h4>2.	Opprett en ny bruker ved å skrive adduser «brukernavn»</h4>
<img src="/bilder/1.jpg" width="400px" alt="Image description">

<h4>3.	Installer openssh-server hvis dette ikke allerede er gjort</h4>
<img src="/bilder/2.png" width="400px" alt="Image description">

<h4>4.	Logg inn som den nye brukeren</h4>
<img src="/bilder/3.png" width="400px" alt="Image description">

<h4>5.	Opprett en makke med navn .ssh</h4>
<img src="/bilder/4.png" width="400px" alt="Image description">

<h4>6.	Bytt lokasjon til .ssh</h4>
<img src="/bilder/5.png" width="400px" alt="Image description">

<h4>7.	Opprett authorized_keys filen</h4>
<img src="/bilder/6.png" width="400px" alt="Image description">

<h4>8.	Rediger filen for å legge til nøkkelen</h4>
<img src="/bilder/7.png" width="400px" alt="Image description">

<h4>9.	Lim in nøkkelen i filen (Husk å lagre!)</h4>

<h4>10.	Gi sudorettigheter ved å kjøre sudo visudo</h4>
<img src="/bilder/8.png" width="400px" alt="Image description">

<h4>Installer node</h4>
<img src="/bilder/9.png" width="400px" alt="Image description">

<%- include('partials/footer'); -%>